PORT=5000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://unfvgvnqqjxcyisievqf.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVuZnZndm5xcWp4Y3lpc2lldnFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTgxMzkyMywiZXhwIjoyMDk1Mzg5OTIzfQ.8RYIdjS04Y9YCFsAJXkxBPQmECsxNFG2bGelHGbejtw

# JWT
JWT_SECRET=IxAlCwid2W82og90IzsV1qqtk7fU/T1HWDOytXqw+qM3RGFSeSTvVi8X4lHZTHhrCkxiesHlsaDIpLiq1huzzg==
JWT_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:5173


